.App {
  display: block;
  margin: 0 auto;
  background-color: #1D1E22;
  color: #ffffff;
  
}

.container {
  display: block;
  margin: 0 auto;
  padding-top: 100px;
}

footer {
  margin: 0;
  padding: 0;
}
