.weather-side {
  position: relative;
  height: 440px;
  width: 325px;
  background: url("https://images.unsplash.com/photo-1496023328036-6792ef27a543?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
  );
  background-size: cover;
   border-radius: 25px;
   -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
	-webkit-transition: -webkit-transform 300ms ease;
	transition: -webkit-transform 300ms ease;
	-o-transition: transform 300ms ease;
	transition: transform 300ms ease;
	transition: transform 300ms ease, -webkit-transform 300ms ease;
	-webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
	        transform: translateZ(0) scale(1.02) perspective(1000px);
  z-index: 2;
        }

.date-container {
  padding-top: 25px;
  margin-left: 25px;
}

.date-dayname {
  margin: 0;
  font-size: 35px;
  line-height: 95%;
}

.date-day {
  margin: 0;
  margin-left: 5px;
  font-size: 19px;
  
}

.location {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-left: 3px;
}

.resize {
  width: 20px;
}

.weather-container {
  position: absolute;
  bottom: 0;
}

.weather-temp-container {
  
  margin-left: 25px;
  margin-bottom: 25px;
  
}

.weather-temp {
  padding-top: 10px;
  font-weight: 700;
  font-size: 6.5em;
  line-height: 10px;
}

.weather-temp .alternate {
  font-weight: 700;
  font-size: small;
}


h3 {
  margin-left: 3px;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

a {
  color: white;
}

.active {
  cursor: default;
  color: #0000ee;
}
.weather-container .active:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.weather-side:hover {
	-webkit-transform: scale(1.1) perspective(1500px) rotateY(10deg);
	        transform: scale(1.1) perspective(1500px) rotateY(10deg);
}


.info-side {
  height: 425px;
  width: 370px;
  border-radius: 25px;
  background-color: #333642;
  font-family: "Montserrat", sans-serif;
  position: relative;
  left: 305px; 
  bottom: 440px;
  padding: 40px 25px 3px 37px;
  z-index: 1;
}


.title {
  padding-left: 10px;
  font-weight: 700;
  font-size: 19px;
}
.value {
  padding-right: 10px;
  float: right;
  font-size: 19px;
  font-weight: 100;
}

.week-list {
  list-style-type: none;
	padding: 0;
  margin-left: 11px;
  margin-top: 30px;
	-webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
	        box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.week-list>li {
	padding: 8px;
	cursor: pointer;
	-webkit-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
	border-radius: 10px;
}

.week-list>li:hover {
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
          transform: scale(1.2);
          -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
	background: #fff;
	color: #222831;
}


.week-list>li .day-time {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.week-list>li .day-icon {
	display: block;
	width: 58px;
	margin: 0 auto;
}

.week-list>li .day-temp {
	display: block;
	text-align: center;
  margin: 10px 0 0 0;
  font-size: large;
	font-weight: 600;
}

.location-container {
	padding: 25px 35px;
}

.change-location {
  margin: 0;
  bottom: 100px;
}


li {
  display: inline-block;
  margin: 0 auto;
}


form {
outline: none;

}

input {
  display: inline-block;
  width: 78%;
  margin-left: 22px;
  margin-top: 25px;
  padding-left: 20px;
  height: 40px;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  border-radius: 25px;
  border: none;
  font-size: 17px;
  color: white;
  outline: none !important;
}

button {
  
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
  
}


::placeholder {
  color: white;
  
  opacity: 1;
  
}

button:hover {
	-webkit-transform: scale(0.95);
	    -ms-transform: scale(0.95);
	        transform: scale(0.95);
}